<div class='table-responsive-lg'>
  <table class='sched-table'>
    <thead>
      <th colspan='4' class='align-middle'>
        <h3 class='title text-white col-md text-center'>Day 1 (Morning)</h3>
        <p class='text-sm text-center'>Summit Hotel Tacloban</p>
      </th>
    </thead>
    <tbody>
    <tr>
      <td class='col-3 bg-grey'>
        <p>8:00 AM - 9:00 AM</p>
      </td>
      <td colspan='3' class='bg-grey'>
        <p>Registration</p>
      </td> 
    </tr>
    <tr>
      <td class='col-3 bg-green'>
        <p>9:00 AM - 9:40 AM</p>
      </td>
      <td colspan='3' class='bg-green'>
        <p>Preliminaries</p>
        <p>Welcome Message</p>
        <p><strong>Dr. Patricia B. Arinto</strong></p>
        <p class='text-sm'>Dean, UP Tacloban College</p>
        <p>Opening Remarks</p>
        <p><strong>Ms. Dinnah Feye H. Andal</strong></p>
        <p class='text-sm'>YouthMappers Regional Ambassador</p>
      </td> 
    </tr>
    <tr>
      <td class='col-3 bg-grey'>
      </td>
      <td colspan='3' class='bg-grey'>
        <p><strong>Plenary Session</strong></p>
        <p>Moderator: Dr. Jasmine A. Malinao</p>
      </td>
    </tr>
    <tr>
      <td class='col-3 bg-green'>
        <p>9:40 AM - 9:45 AM</p>
      </td>
      <td colspan='3' class='bg-green'>
        <p>Introduction of Plenary Speaker 1</p>
      </td>
    </tr>
    <tr>
      <td class='col-3 bg-green'>
        <p>9:45 AM - 10:15 AM</p>
      </td>
      <td colspan='3' class='bg-green'>
        <p><strong>"From Pixels to Purpose: Our journey and our learnings"</strong></p>
        <p>Mr Mikko Tamura</p>
        <p class='text-sm'>Community Manager</p>
        <p class='text-sm'>Open Mapping Hub Asia Pacific</p>
      </td>
    </tr>
    <tr>
      <td class='col-3 bg-green'>
        <p>10:15 AM - 10:20 AM</p>
      </td>
      <td colspan='3' class='bg-green'>
        <p>Introduction of Plenary Speaker 2</p>
      </td>
    </tr>
    <tr>
      <td class='col-3 bg-green'>
        <p>10:20 AM - 10:50 AM</p>
      </td>
      <td colspan='3' class='bg-green'>
        <p><strong>"Citizen Science, Open Data and Public Good"</strong></p>
        <p>Dr. Alfredo Mahar Francisco Lagmay</p>
        <p class='text-sm'>Director</p>
        <p class='text-sm'>UP Resilence Institute</p>
      </td>
    </tr>
    <tr>
      <td class='col-3 bg-grey'>
        <p>10:50 AM - 11:20 AM</p>
      </td>
      <td colspan='3' class='bg-grey'>
        <p>Open Forum</p>
      </td>
    </tr>
    <tr>
      <td class='col-3 bg-green'>
        <p>11:20 AM - 11:30 AM</p>
      </td>
      <td colspan='3' class='bg-green'>
        <p>Photoshoot</p>
      </td>
    </tr>
    <tr>
      <td class='col-3 bg-green'>
        <p>11:30 AM - 11:45 AM</p>
      </td>
      <td colspan='3' class='bg-green'>
        <p>Sponsor's Talk</p>
        <p>Ben Hur Pintor</p>
        <p class='text-sm'>Charter Member</p>
        <p class='text-sm'>OSGeo</p>
      </td>
    </tr>
    <tr>
      <td class='col-3 bg-grey'>
       <p>11:45 AM - 1:30 PM</p>
      </td>
      <td colspan='3' class='bg-grey'>
       <p>Lunch Break</p>
      </td>
    </tr>
    </tbody>
  </table>
</div>