<div class='table-responsive-lg'>
  <table class='sched-table'>
    <thead>
      <th colspan='4' class='align-middle'>
        <h3 class='title text-white -md text-center'>Day 1 (Afternoon)</h3>
        <p class='text-sm text-center'>Summit Hotel Tacloban</p>
      </th>
    </thead>
    <tbody class='text-center'>
      <tr>
        <td class='bg-grey col-3'>
          <p><strong>Schedule</strong></p>
        </td>
        <td class='bg-grey '>
          <p class='text-lg'><strong>Academic Track</strong></p>
          <p>Moderator:</p>
          <p><strong>Dr. Jasmine Malinao</strong></p>
          <p>Venue:</p>
          <p>Tacloban Breakout Room</p>
        </td>
        <td class='bg-grey '>
         <p class='text-lg'><strong>Lightning Talks</strong></p>
         <p>Moderator:</p>
         <p><strong>Prof. Nelfa Glova</strong></p>
         <p>Venue:</p>
         <p>Main Hall</p>
        </td>
        <td class='bg-grey '>
         <p class='text-lg'><strong>General Track</strong></p>
         <p>Moderator:</p>
         <p><strong>Ms. Leigh Lunas</strong></p>
         <p>Venue:</p>
         <p>Catbalogan Breakout Room</p>
        </td>
      </tr>
      <tr>
        <td class='bg-grey '>
        </td>
        <td class='bg-grey '>
         <p class='font-italic'>Blueprints of Progress: The Role of Mapping in Urban Development</p>
        </td>
        <td class='bg-grey '>
         <p class='font-italic'>Unveiling Insights:</p>
         <p class='font-italic'>Using Geospatial Data to Analyze Situations and Craft Compelling Stories</p>
        </td>
        <td class='bg-grey '>
         <p class='font-italic'>Mapping the Future: Geospatial Data's Role in Shaping Our World</p>
        </td>
      </tr>
      <tr>
        <td class='bg-green '>
           <p>1:30 PM - 1:40 PM</p>
        </td>
        <td rowspan='2' class='bg-green '>
          <p><strong>“Utilizing OpenStreetMap Building Footprint Data for Urban Planning and Disaster Risk Reduction in the Municipality of Luna”</strong></p>
          <p class='text-sm'><strong>Wilfredo Dizon Jr</strong></p>
          <p class='text-sm'>LGU Luna, La Union</p>
        </td>
        <td class='bg-green '>
           <p><strong>“Data: A Story to Tell”</strong></p>
           <p class='text-sm'><strong>Leanne Caye Obispo</strong></p>
           <p class='text-sm'>UP Diliman, UP GEOP</p>
        </td>
        <td rowspan='2' class='bg-green '>
          <p><strong>“It takes the world to map the world”</strong></p>
          <p class='text-sm'><strong>Salim Baidoun</strong></p>
          <p class='text-sm'>TomTom</p>
        </td>
      </tr>
      <tr>
        <td class='bg-green '>
           <p>1:40 PM - 1:50 PM</p>
        </td>
        <td class='bg-green '>
           <p><strong>“Rediscovering Local History Through Cultural Mapping”</strong></p>
           <p class='text-sm'><strong>Paolo Lorenzo Lora</strong></p>
           <p class='text-sm'>UP Tacloban YouthMappers</p>
        </td>
      </tr>
      <tr>
        <td class='col-3 bg-green'>
           <p>1:50 PM - 2:00 PM</p>
        </td>
        <td class='col-3 bg-green'>
         <p><strong>“Secured By Design: Establishing Design Guidelines Against Crime in Urban Communities of Tacloban City”</strong></p>
         <p class='text-sm'><strong>Bryan Steven Borja</strong></p>
         <p class='text-sm'>Cali Architects</p>
        </td>
        <td rowspan='2' class='col-3 bg-green'>
           <p><strong>“Web Visualization and Spatial Analysis of Tree Species Distribution at University of the Philippines Diliman Academic Oval”</strong></p>
           <p class='text-sm'><strong>Denrazir Atara</strong></p>
           <p class='text-sm'>USTP YouthMappers</p>
        </td>
        <td rowspan='2' class='col-3 bg-green'>
         <p><strong>“Mapping the road less traveled: Building careers with open geospatial”</strong></p>
         <p class='text-sm'><strong>Ben Hur Pintor</strong></p>
         <p class='text-sm'>BNHR</p>
        </td>
      </tr>
      <tr>
        <td class='bg-green col-3'>
           <p>2:00 PM - 2:10 PM</p>
        </td>
        <td class='bg-green col-3'>
           <p><strong>“Exposure of Southern Leyte Pacific Towns to Possible Earthquake Induced Tsunami”</strong></p>
           <p class='text-sm'><strong>Jorton Agda Tagud</strong></p>
           <p class='text-sm'>SLSU YouthMappers</p>
        </td>
      </tr>
      <tr>
        <td class='bg-grey'>
           <p>2:10 PM - 2:20 PM</p>
        </td>
        <td colspan='3' class='bg-grey'>
         <p class='text-lg'><strong>Open Forum</strong></p>
        </td>
      </tr>
      <tr>
        <td class='bg-grey'>
        </td>
        <td class='bg-grey'>
         <p class='font-italic'>Data-Driven Governance: Understanding Environment & Society through Mapping</p>
        </td>
        <td class='bg-grey'>
         <p class='font-italic'>Fueling Progress: Leveraging Open Data for Technological, Infrastructure, & Community Development</p>
        </td>
        <td class='bg-grey'>
         <p class='font-italic'>Fostering Excellence in Open Mapping: Capacity Building & Skill Elevation Initiatives</p>
        </td>
      </tr>
      <tr>
        <td class='bg-green'>
           <p>2:20 PM - 2:30 PM</p>
        </td>
        <td class='bg-green' rowspan='2'>
           <p><strong>“Beyond the Choropleth: How UP Mindanao mapping efforts help shape Davao City policies and disease interventions programs”</strong></p>
           <p class='text-sm'><strong>Mia Kristine Camiña Quinco</strong></p>
           <p class='text-sm'>UP Mindanao YouthMappers</p>
        </td>
        <td class='bg-green'>
           <p><strong>“COLABDev: Data-Driven Development in Palimbang, Sultan Kudarat”</strong></p>
           <p class='text-sm'><strong>Mark Aimon Pangan</strong></p>
           <p class='text-sm'>Action for Economic Reforms</p>	
        </td>
        <td class='bg-green' rowspan='2'>
           <p><strong>“Elevating Skills in the Philippines: Introduction to YouthMappers UpSkilling Series”</strong></p>
           <p class='text-sm'><strong>Dinnah Feye Anda</strong></p>
           <p class='text-sm'>YouthMappers</p>
        </td>
      </tr>
      <tr>
        <td class='bg-green'>
           <p>2:30 PM - 2:40 PM</p>
        </td>
        <td class='bg-green'>
           <p><strong>“POIs for greenfield hyperscale data center site selection”</strong></p>
           <p class='text-sm'><strong>Jikka Defiño</strong></p>
           <p class='text-sm'>OSM Philippines, HOT, Jones Lang LaSalle</p>
        </td>
      </tr>

      <tr>
        <td class='bg-green'>
           <p>2:40 PM - 2:50 PM</p>
        </td>
        <td class='bg-green' rowspan='2'>
           <p><strong>“Mental maps as spatial representations: the case of displaced informal settlers post-Haiyan”</strong></p>
           <p class='text-sm'><strong>Ervina Espina</strong></p>
           <p class='text-sm'>UP Tacloban</p>
        </td>
        <td class='bg-green'>
           <p><strong>“Mapping for Resilience”</strong></p>
           <p class='text-sm'><strong>Joyce Mae Callao</strong></p>
           <p class='text-sm'>USTP YouthMappers</p>	
        </td>
        <td class='bg-green' rowspan='2'>
           <p><strong>“Pave the way for the Open Mapping Gurus”</strong></p>
           <p class='text-sm'><strong>Mikko Tamura</strong></p>
           <p class='text-sm'>Open Mapping Hub Asia Pacific</p>
        </td>
      </tr>
      <tr>
        <td class='bg-green'>
           <p>2:50 PM - 3:00 PM</p>
        </td>
        <td class='bg-green'>
           <p><strong>“Beyond shapefiles and file-based data management”</strong></p>
           <p class='text-sm'><strong>Ben Hur Pintor</strong></p>
           <p class='text-sm'>BNHR</p>
        </td>
      </tr>
      <tr>
        <td class='bg-grey'>
           <p>3:00 PM - 3:10 PM</p>
        </td>
        <td colspan='3' class='bg-grey'>
         <p class='text-lg'><strong>Open Forum</strong></p>
        </td>
      </tr>
      <tr>
        <td class='bg-grey'>
        </td>
        <td class='bg-grey'>
         <p class='font-italic'>Earth’s Treasure Map: Mapping Natural Resources for Sustainable Development</p>
        </td>
        <td class='bg-grey'>
         <p class='font-italic'>YouthMapping the Future: Showcasing YouthMappers Chapters' Projects and Initiatives in the Philippines</p>
        </td>
        <td class='bg-grey'>
         <p class='font-italic'>Exploring Frontiers: AI, Geo Innovation, &  Mythical Realities - A Multifaceted Talk Series</p>
        </td>
      </tr>


      <tr>
        <td class='bg-green'>
           <p>3:10 PM - 3:20 PM</p>
        </td>
        <td class='bg-green' rowspan='2'>
           <p><strong>“Still Waters Run Deep: Uncovering the Bathymetric and Morphometric Profile of Lake Danao in Ormoc City, Leyte, Philippines”</strong></p>
           <p class='text-sm'><strong>Jeremy Romero</strong></p>
           <p class='text-sm'>UP Tacloban College</p>
        </td>
        <td class='bg-green'>
           <p><strong>“Mapping Fire Hydrants as Baseline Data for Fire Emergency Response in Leyte Province, Philippines”</strong></p>
           <p class='text-sm'><strong>Yhogen Boy Villacite Julve</strong></p>
           <p class='text-sm'>Viscan YouthMappers</p>	
        </td>
        <td class='bg-green' rowspan='2'>
           <p><strong>“AI for Geo: A Gentle Introduction to AI for the Geo Industry”</strong></p>
           <p class='text-sm'><strong>Luis Caezar Ian Panganiban</strong></p>
           <p class='text-sm'>Ausome Maps / AusomeCol</p>
        </td>
      </tr>
      <tr>
        <td class='bg-green'>
           <p>3:20 PM - 3:30 PM</p>
        </td>
        <td class='bg-green'>
           <p><strong>“Soaring to New Heights: UPRI YouthMappers’ First Drone Training”</strong></p>
           <p class='text-sm'><strong>Erika Del Rosario</strong></p>
           <p class='text-sm'>Pauline Jen Madron</strong></p>
           <p class='text-sm'>UPRI YouthMappers</p>
        </td>
      </tr>

      <tr>
        <td class='bg-green'>
           <p>3:30 PM - 3:40 PM</p>
        </td>
        <td class='bg-green' rowspan='2'>
           <p><strong>“Identification of Patterns of Thermal Unrest in Taal Volcano Using Remote Sensing”</strong></p>
           <p class='text-sm'><strong>Jan Rovic Cueto</strong></p>
           <p class='text-sm'>Rizal Technological University</p>
        </td>
        <td class='bg-green'>
           <p><strong>“Optimizing Field Data Collection: Leveraging KoboToolbox in USTP YouthMappers Projects”</strong></p>
           <p class='text-sm'><strong>Lanz Bartolome</strong></p>
           <p class='text-sm'>USTP YouthMappers</p>	
        </td>
        <td class='bg-green' rowspan='2'>
           <p><strong>“Why you shouldn't use QGIS: new and upcoming features (2023 edition)”</strong></p>
           <p class='text-sm'><strong>Ben Hur Pintor</strong></p>
           <p class='text-sm'>BNHR</p>
        </td>
      </tr>
      <tr>
        <td class='bg-green'>
           <p>3:40 PM - 3:50 PM</p>
        </td>
        <td class='bg-green'>
           <p><strong>“Enhancing Community Development Through Drone Imaging in Tacloban City”</strong></p>
           <p class='text-sm'><strong>Oriel Jay Ibañez</strong></p>
           <p class='text-sm'>UP Tacloban YouthMappers</p>
        </td>
      </tr>

      <tr>
        <td class='bg-green'>
           <p>3:50 PM - 4:00 PM</p>
        </td>
        <td class='bg-green' rowspan='2'>
           <p><strong>“Spatial Mapping of Marine Resources for Inclusive Comprehensive Land Use Planning in Sogod, Southern Leyte”</strong></p>
           <p class='text-sm'><strong>Jerome Jack Oben Napala</strong></p>
           <p class='text-sm'>SLSU YouthMappers</p>
        </td>
        <td class='bg-green'>
           <p><strong>“A Yearlong Journey with Southern Leyte State University YouthMappers in Open Mapping”</strong></p>
           <p class='text-sm'><strong>Shrine Angeli Aparejo</strong></p>
           <p class='text-sm'>SLSU YouthMappers</p>	
        </td>
        <td class='bg-green' rowspan='2'>
           <p><strong>“Mythical Creatures, Real Hazards: Co-creating and co-designing story maps of local folklore, beliefs, and myths about the environment”</strong></p>
           <p class='text-sm'><strong>Dino Evangelista</strong></p>
           <p class='text-sm'>UPRI - UP NOAH Center</p>
        </td>
      </tr>
      <tr>
        <td class='bg-green'>
           <p>4:00 PM - 4:10 PM</p>
        </td>
        <td class='bg-green'>
           <p><strong>“Igniting UP Mindanao's Passion and Interest in GIS and Open Mapping: An SLSI Legacy”</strong></p>
           <p class='text-sm'><strong>Mia Kristine Camiña Quinco</strong></p>
           <p class='text-sm'>UP Mindanao YouthMappers</p>
        </td>
      </tr>

      <tr>
        <td class='bg-grey'>
           <p>4:10 PM - 4:20 PM</p>
        </td>
        <td colspan='3' class='bg-grey'>
         <p class='text-lg'><strong>Open Forum</strong></p>
        </td>
      </tr>

      <tr>
        <td class='bg-green'>
           <p>4:20 PM - 5:00 PM</p>
        </td>
        <td colspan='3' class='bg-green'>
         <p class='text-lg'>Synthesis</p>
         <p class='text-lg'>Dr. John Paul T. Yusiong</p>
         <p class='text-sm'>Chair, Division of Natural Sciences and Mathematics</p>
         <p class='text-sm'>UP Tacloban College</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>