<div class='table-responsive-lg'>
  <table class='sched-table'>
    <thead>
      <th colspan='4' class='align-middle'>
        <h3 class='title text-white -md text-center'>Day 3</h3>
        <p class='text-sm text-center'>UP Tacloban College</p>
      </th>
    </thead>
    <tbody class='text-center'>
      <tr>
        <td colspan='3' class='bg-grey'>
          <p><strong>Community Day</strong></p>
        </td>
      </tr>
      <tr>
        <td class='bg-grey'>
          <p>Schedule</p>
        </td>
        <td class='bg-grey' colspan='2'>
          <p>Multipurpose Building</p>
        </td>
      </tr>
      <tr>
        <td class='bg-grey'>
          <p>8:00 AM - 8:30 AM</p>
        </td>
        <td class='bg-grey' colspan='2'>
          <p>Registration</p>
        </td>
      </tr>
      <tr>
        <td class='bg-green'>
          <p>8:30 AM - 10:30 AM</p>
        </td>
        <td class='bg-green' colspan='2'>
          <p><strong>OpenStreetMap Philippines Community Meet</strong></p>
          <p class='text-sm'><strong>Mikko Tamura</strong></p>
          <p class='text-sm'>Open Mapping Hub Asia Pacific</p>
        </td>
      </tr>

      <tr>
        <td class='bg-green'>
          <p>10:30 AM - 11:30 AM</p>
        </td>
        <td class='bg-green' colspan='2'>
          <p><strong>QGIS/OSGeo Meet-up</strong></p>
          <p class='text-sm'><strong>Ben Hur Pintor</strong></p>
          <p class='text-sm'>BNHR</p>
        </td>
      </tr>

      <tr>
        <td class='bg-green'>
          <p>11:30 AM - 12:00 NN</p>
        </td>
        <td class='bg-green' colspan='2'>
          <p><strong>Closing Remarks</strong></p>
          <p class='text-sm'><strong>Bea D. Santiago</strong></p>
          <p class='text-sm'>Chair</p>
          <p class='text-sm'>Pista ng Mapa 2023 Organizing Committee</p>
        </td>
      </tr>
      <tr>
        <td class='bg-grey'>
          <p>12:00 NN - 1:00 PM</p>
        </td>
        <td class='bg-grey' colspan='2'>
          <p>Lunch Break</p>
        </td>
      </tr>

      <tr>
        <td class='bg-green'>
          <p>1:00 PM - 2:00 PM</p>
        </td>
        <td class='bg-green'>
          <p><strong>YouthMappers Meet-up</strong></p>
          <p class='text-sm'><strong>Dinnah Feye Andal</strong></p>
          <p class='text-sm'>YouthMappers</p>
        </td>
        <td class='bg-green' rowspan='2'>
          <p><strong>Field Trip</strong></p>
        </td>
      </tr>
      <tr>
        <td class='bg-green'>
          <p>2:00 PM - 5:00 PM</p>
        </td>
        <td class='bg-green'>
          <p><strong>Mapathon</strong></p>
          <p class='text-sm'>Eastern Visayas YouthMappers Chapters</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>