<div class='table-responsive-lg'>
  <table class='sched-table'>
    <thead>
      <th colspan='4' class='align-middle'>
        <h3 class='title text-white -md text-center'>Day 2</h3>
        <p class='text-sm text-center'>UP Tacloban College</p>
      </th>
    </thead>
    <tbody class='text-center'>
      <tr>
        <td colspan='3' class='bg-grey'>
          <p><strong>Workshops</strong></p>
        </td>
      </tr>
      <tr>
        <td class='bg-grey'>
          <p>Schedule</p>
        </td>
        <td class='bg-grey'>
          <p>AS Conference Hall</p>
        </td>
        <td class='bg-grey'>
          <p>Multipurpose Building</p>
        </td>
      </tr>
      <tr>
        <td class='bg-grey'>
          <p>8:00 AM - 8:30 AM</p>
        </td>
        <td class='bg-grey' colspan='2'>
          <p>Registration</p>
        </td>
      </tr>

      <tr>
        <td class='bg-green'>
          <p>8:30 AM - 10:30 AM</p>
        </td>
        <td class='bg-green'>
          <p><strong>“Digital Data Collection with KoboToolbox and KoboCollect”</strong></p>
          <p class='text-sm'><strong>Mark Aimon Pangan</strong></p>
          <p>Action for Economic Reforms</p>
        </td>
        <td class='bg-green'>
          <p><strong>“When Women Map”</strong></p>
          <p class='text-sm'><strong>Leigh Lunas</strong></p>
          <p>Geoladies PH</p>
        </td>
      </tr>

      <tr>
        <td class='bg-green'>
          <p>10:30 AM - 12:30 PM</p>
        </td>
        <td class='bg-green'>
          <p><strong>“Beyond shapefiles and file-based data management” </strong></p>
          <p class='text-sm'><strong>Ben Hur Pintor</strong></p>
          <p>BNHR</p>
        </td>
        <td class='bg-green'>
          <p><strong>“Data storytelling with impact using open-source tools” </strong></p>
          <p class='text-sm'><strong>Charmyne Mamador</strong></p>
          <p>Ausome Maps / AusomeCo / Geoladies</p>
        </td>
      </tr>
      <tr>
        <td class='bg-grey'>
          <p>12:30 PM - 1:30 PM</p>
        </td>
        <td class='bg-grey' colspan='2'>
          <p>Lunch Break</p>
        </td>
      </tr>

      <tr>
        <td class='bg-green'>
          <p>1:30 PM - 3:30 PM</p>
        </td>
        <td class='bg-green'>
          <p><strong>“Getting Started with Developing Geospatial Applications”</strong></p>
          <p class='text-sm'><strong>Luis Caezar Ian Panganiban</strong></p>
          <p>Ausome Maps / AusomeCo</p>
        </td>
        <td class='bg-green'>
          <p><strong>“The World in 360: An Introduction to Mapillary”</strong></p>
          <p class='text-sm'><strong>Dinnah Feye Andal</strong></p>
          <p>YouthMappers</p>
        </td>
      </tr>

      <tr>
        <td class='bg-green'>
          <p>3:30 PM - 5:30 PM</p>
        </td>
        <td class='bg-green'>
          <p><strong>“Battle of the Best OSM Mobile Data Collection Tool: A Workshop on Organic Maps and Every Door”</strong></p>
          <p class='text-sm'><strong>Erika Del Rosario</strong></p>
          <p class='text-sm'>Pauline Jen Madrona</strong></p>
          <p class='text-sm'>Dinnah Feye Andal</strong></p>
          <p>UPRI YouthMappers</p>
        </td>
        <td class='bg-green'>
          <p><strong>“Mapa nga ba?: A design thinking workshop on creating effective geospatial solutions or initiatives”</strong></p>
          <p class='text-sm'><strong>Charmyne Mamador</strong></p>
          <p>Ausome Maps / AusomeCo / Geoladies</p>
        </td>
      </tr>

    </tbody>
  </table>
</div>